
// ===========================================
// Footer
// ===========================================
    
// Variables
// ===========================================
    $footer--background        : transparent                    !default;
    $footer--color             : $color--text                   !default;
    $footer--font-size         : 16px                           !default; 
    $footer--height            : 50px                           !default;
    $footer--border-color      : rgba($color--text, .2)         !default;
    $footer--border-size       : 1px                            !default;


// Structure
// ===========================================
    .footer {       
        display: block;
        height: $footer--height ;
        border-top: rem($footer--border-size) solid;
        @include clearfix;
    }

    .footer__copyright {
        display: block;
        text-align: center;
        margin: 0 auto;
    }


// Font
// ===========================================
    .footer {
        font-size: rem($footer--font-size);
        line-height: lh($footer--height , $footer--font-size);
    }


// Color
// ===========================================
    .footer {
        background: $footer--background;
        border-color: $footer--border-color ;
        color: $footer--color;
    }



