
// ===========================================
// Footer
// ===========================================
    
// Variables
// ===========================================
    $footer--background         : transparent                   !default;
    $footer--color              : $color--text                  !default;
    $footer--font-size          : 16px                          !default; 
    $footer--height             : 50px                          !default;
    $footer--border-color       : rgba($color--text, .2)        !default;
    $footer--border-size        : 1px                           !default;


// Footer
// ===========================================
    .footer {       
        // Structure
        display: block;
        height: rem($footer--height);
        border-top: rem($footer--border-size) solid;
        @include clearfix;

        // Font
        font-size: rem($footer--font-size);
        line-height: lh($footer--height , $footer--font-size);

        // Color
        background: $footer--background;
        border-color: $footer--border-color;
        color: $footer--color;
    }


// Footer Copyright
// ===========================================
    .footer__copyright {
        display: block;       
        margin: 0 auto;
        text-align: center;
    }






