
// ===========================================
// Header
// ===========================================
    
// Variables
// ===========================================
    $header--background        : lighten($color--text, 10%)     !default;
    $header--color             : $color--white                  !default;
    $header--font-size         : 20px                           !default; 
    $header--height            : 50px                           !default;
    $header--border-color      : $color--white                  !default;
    $header--border-size       : 1px                            !default;


// Structure
// ===========================================
    .header {       
        display: block;
        height: $header--height ;
        position: relative;
        border-bottom: rem($header--border-size) solid;
        @include clearfix;
    }

    .header__title {
        display: inline-block;
        margin-left: rem(15px);
    }

    .header__icon,
    .header__icon--right,
    .header__icon--left {       
        display: inline-block;
        width: rem($header--height);                   
        text-align: center;
        cursor: pointer;        
    }

    .header__icon--right {
        border-left: rem($header--border-size) solid;
        float: right;
    }

    .header__icon--left {
        border-right: rem($header--border-size) solid;  
        float: left;
    }

    .header__icon--hidden {
        visibility: hidden;
    }


// Font
// ===========================================
    .header__title {
        font-size: rem($header--font-size);
        line-height: lh($header--height , $header--font-size);
    }

    .header__icon,
    .header__icon--right,
    .header__icon--left {
        font-size: rem($header--font-size);
        line-height: lh($header--height  - ($header--border-size), $header--font-size);
    }


// Color
// ===========================================
    .header {
        background: $header--background;
        border-color: $header--border-color ;
        color: $header--color;
    }

    .header__icon,
    .header__icon--right,
    .header__icon--left {
        border-color: $header--border-color ;
    }

