
// ===========================================
// Header
// ===========================================
    
// Variables
// ===========================================
    $header--background         : lighten($color--text, 10%)    !default;
    $header--border-color       : $color--white                 !default;
    $header--border-size        : 1px                           !default;
    $header--color              : $color--white                 !default;
    $header--font-size          : 20px                          !default; 
    $header--height             : 50px                          !default;
    

// Header
// ===========================================
    .header { 
        // Structure      
        height: rem($header--height);
        border-bottom: rem($header--border-size) solid;
        @include clearfix;

        // Color
        background: $header--background;
        border-color: $header--border-color;
        color: $header--color;
    }


// Header Title
// ===========================================
    .header__title {
        // Structure
        display: inline-block;
        margin-left: rem(15px);

        // Font
        font-size: rem($header--font-size);
        line-height: lh($header--height, $header--font-size);
    }

// Header Icon
// ===========================================   
    .header__icon,
    .header__icon--right,
    .header__icon--left {       
        // Structure
        display: inline-block;
        width: rem($header--height);                   
        text-align: center;
        cursor: pointer;  
        
        // Font 
        font-size: rem($header--font-size);
        line-height: lh($header--height - $header--border-size, $header--font-size);
        
        // Color
        border-color: $header--border-color; 
    }

    .header__icon--right {
        border-left: rem($header--border-size) solid;
        float: right;
    }

    .header__icon--left {
        border-right: rem($header--border-size) solid;  
        float: left;
    }

    .header__icon--hidden {
        visibility: hidden;
    }

