
// ===========================================
// Loader
// ===========================================

// Structure
// ===========================================	
    .loader {
        display: none;

        .loader__overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #666666 url("../images/ui-bg_diagonals-thick_20_666666_40x40.png");
            opacity: 0.5;
            z-index: 2000;
        }

        .loader__img {          
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2000;
        }
    }