
// ===========================================
// Loader
// ===========================================

// Variables
// ===========================================
    $loader--background         : #666 url("../images/loader-bg.png")   !default;
    $loader--opacity            : 0.5                                   !default;
    $loader--z-index            : 9999                                  !default;


// Loader
// ===========================================	
    .loader {
        display: none;       
    }


// Loader Overlay
// ===========================================	
    .loader__overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $loader--background;
        opacity: $loader--opacity;
        z-index: $loader--z-index;
    }


// Loader Image
// ===========================================	
    .loader__img {          
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: $loader--z-index;
    }