
// ===========================================
// Password Reset
// ===========================================

// Variables
// ===========================================


// Structure
// ===========================================
    .container-fluid {
        height: 100vh;
        min-height: rem(565px);
    }

    #password-success {
        padding: rem(12px) rem(16px);
    }

    #btnResetPassword {
        width: 100%;
        padding: rem(8px) 0;
    }



// Color
// ===========================================
    .container-fluid {
        background: $color--text;
    }