<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=localhost;Integrated Security=True;Initial Catalog=Boilerplate;" providerName="System.Data.SqlClient" />  
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <globalization culture="auto" uiCulture="auto" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="support@boilerplate.com">
        <network host="ignored" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\_email_tests" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>