
// ===========================================
// Login
// ===========================================

// Variables
// ===========================================


// Structure
// ===========================================
    .container-fluid {
        height: 100vh;
        min-height: rem(500px);
    }

    #btnLogin {
        width: rem(120px);
    }

    #btnReset {
        width: 100%;
        padding: rem(8px) 0;
    }


// Color
// ===========================================
    .container-fluid {
        background: $color--text;
    }